<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/joinForm1.js}"></script>
    <!-- <script th:src="@{/js/joinForm_birth.js}"></script> -->
    <link rel = "stylesheet" type = "text/css" href="/kkirikkiri/css/joinForm.css">
    <link rel = "stylesheet" type = "text/css" href="/kkirikkiri/css/main.css">
    <link rel="stylesheet" type="text/css" href="/kkirikkiri/css/header.css"> 
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

  
    <form th:action="@{/member/join1}" method="post" enctype="multipart/form-data">
        <div class="stepper">
            <div class="step-circle active" id="step-circle-1">1</div>
            <div class="line active" id="line-1"></div>
            <div class="step-circle" id="step-circle-2">2</div>
            <div class="line" id="line-2"></div>
            <div class="step-circle" id="step-circle-3">3</div>
        </div>

        <!-- Step 1: Interests -->
        <div class="step active" id="step1">
            <div class="center-content">
                <h2>요즘 뭐에 빠져있나요?</h2>
                <h2>당신의 취향을 알려주세요!</h2>
                <p>(관심사는 최대 5개까지 선택 가능해요.)</p>
            </div>
            <div id="form-step1" class="interest-container">
                <div class="interests-container">
                 
                    <div class="interests-row">
                        <div class="interest-option hobby">
                            <input type="checkbox" id="hobby" name="interests" value="HOBBY">
                            <label for="hobby" class="interest-text">취미</label>
                        </div>
                        <div class="interest-option development">
                            <input type="checkbox" id="development" name="interests" value="DEVELOPMENT">
                            <label for="development" class="interest-text">자기계발</label>
                        </div>
                        <div class="interest-option food">
                            <input type="checkbox" id="food" name="interests" value="FOOD">
                            <label for="food" class="interest-text">푸드</label>
                        </div>
                    </div>
                    
                    <div class="interests-row">
                        <div class="interest-option activity">
                            <input type="checkbox" id="activity" name="interests" value="ACTIVITY">
                            <label for="activity" class="interest-text">액티비티</label>
                        </div>
                        <div class="interest-option pets">
                            <input type="checkbox" id="pets" name="interests" value="PETS">
                            <label for="pets" class="interest-text">반려동물</label>
                        </div>
                        <div class="interest-option culture">
                            <input type="checkbox" id="culture" name="interests" value="CULTURE">
                            <label for="culture" class="interest-text">문화</label>
                        </div>
                        <div class="interest-option money">
                            <input type="checkbox" id="money" name="interests" value="MONEY">
                            <label for="money" class="interest-text">재테크</label>
                        </div>
                    </div>
                    <div class="interests-row">
                    <div class="interest-option love">
                        <input type="checkbox" id="love" name="interests" value="LOVE">
                        <label for="love" class="interest-text">연애</label>
                    </div>
                    <div class="interest-option game">
                        <input type="checkbox" id="game" name="interests" value="GAME">
                        <label for="game" class="interest-text">게임</label>
                    </div>
                    <div class="interest-option travel">
                        <input type="checkbox" id="travel" name="interests" value="TRAVEL">
                        <label for="travel" class="interest-text">여행</label>
                    </div>
                </div>
            </div>
                    
                    <div class="button-container">
                        <!--  <button type="button" id="prevStep1" style="margin-right: 10px;"> < 이전</button> -->
                        <button type="button" id="nextStep1"> 다음 > </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Step 2: Location -->
        <div class="step" id="step2" style="display: none;">
            <h2>어디에서 살펴볼까요? 관심 지역을 선택해주세요!</h2>
            <div id="form-step2">
                <input type="text" id="location" name="location" placeholder="관심 지역 입력"><br>
                <input type = "button" id = "findPlace" value = "지역 찾기"><br>
                <div class="button-container">
                    <button type="button" id="prevStep2" style="margin-right: 10px;"> < 이전 </button>
                    <button type="button" id="nextStep2"> 다음 > </button>
                </div>
            </div>
        </div>

        <!-- Step 3: User Info -->
        <div class="step" id="step3" style="display: none;">
            <div class="center-content">
                <h2>이제 거의 다 왔어요!</h2>
            </div>
            <div id="form-step3">
                <div class="profile-container">
                    <label for="profileImage" class="label-image"></label> 
                    <input type="file" id="profileImage" name="profileImage" accept="image/*" style="display: none;">
                </div>

                <div class="input-with-button">
                    <input type="text" id="userid" name="userid" placeholder="아이디">
                    <button type="button" id="duplicateCheck">중복확인</button>
                </div>

                <input type="password" id="password" name="password" placeholder="비밀번호"><br>
                <input type="password" id="password2" name="password2" placeholder="비밀번호 재확인"><br>
                <input type="text" id="name" name="name" placeholder="닉네임"><br>
                <input type="text" id="username" name="username" placeholder="이름"><br>
                <input type="text" id="email" name="email" placeholder="이메일"><br>
                <input type="text" id="phone" name="phone" placeholder="휴대전화"><br>
                   <div class = "info" id = "info_birth">
                	<select class = "box" name="year" id = "birth-year">
                		<option disabled selected>출생년도</option>
                	</select>
                	<select class = "box" name="month" id = "birth-month">
                		<option disabled selected>월</option>
                	</select>
                	<select class = "box" name="day" id = "birth-day">
                		<option disabled selected>일</option>
                	</select>	
                </div>
           		<div class = "info" id = "gender">
           			<input type = "radio" name = "gender" value = "1" checked>남
           			<input type = "radio" name = "gender" value = "2">여
           		</div>
                <div class="button-container">
                    <button type="button" id="prevStep3"> < 이전</button>
                    <button type="submit" id="submitForm">가입 > </button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
