<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="/kkirikkiri/css/joinForm.css"> 
    <link rel="stylesheet" type="text/css" href="/kkirikkiri/css/main.css">
    <script>
        $(document).ready(function() {
            var formData = {};

            function showStep(step) {
                $('.step').css('display', 'none'); 
                $('#step' + step).css('display', 'block'); 
                updateStepper(step);
            }

            $('#nextStep1').click(function() {
                var selectedInterests = [];
                $('input[name="interests"]:checked').each(function() {
                    selectedInterests.push($(this).val());
                });
                
                if (selectedInterests.length > 0 && selectedInterests.length <= 5) {
                    formData.interests = selectedInterests;
                    showStep(2);
                } else if (selectedInterests.length == 0) {
                    alert("최소한 하나의 취향을 선택해 주세요.");
                } else {
                    alert("취향은 다섯 개까지 선택 가능해요.");
                }
            });
            
            $('#nextStep2').click(function() {
                var location = $('#location').val();
                if (location) {
                    formData.location = location;
                    showStep(3);
                } else {
                    alert("관심 지역을 입력해 주세요.");
                }
            });
            
            $('#submitForm').click(function() {
                var userid = $('#userid').val();
                var password = $('#password').val();
                var password2 = $('#password2').val();
                var phone = $('#phone').val();
                var email = $('#email').val();
                
                if (!userid || !password || !password2 || !phone || !email) {
                    alert("모든 정보를 입력해 주세요.");
                    return;
                }
                
                if (password !== password2) {
                    alert("비밀번호가 일치하지 않습니다.");
                    return;
                }
                
                formData.userid = userid;
                formData.password = password;
                formData.phone = phone;
                formData.email = email;

                
            });

            $('input[name="interests"]').change(function() {
                $('.interest-text').css('background-color', '#FFFFFF').css('color', '#000000'); 
                $('input[name="interests"]:checked').each(function() {
                    $(this).siblings('.interest-text').css('background-color', '#F8B1A3').css('color', '#000000');
                });
            });

            function updateStepper(step) {
                $('.step-circle').removeClass('active');
                $('.line').removeClass('active');

                for (var i = 1; i <= step; i++) {
                    $('#step-circle-' + i).addClass('active');
                    if (i < step) {
                        $('#line-' + i).addClass('active');
                    }
                }
            }

           
            $('.step-circle').click(function() {
                var step = $(this).text();
                showStep(step);
            });
        });
    </script>    
</head>
<body>
    <header>
        <nav>
            <ul>
                <div class="center-menu">
                    <li><a th:href="@{/socialgroup/socialing}">소셜링</a></li>
                    <li><a href="#">트렌드</a></li>
                    <li><a href="#">플레이스</a></li>
                </div>
                <div class="right-menu">
                    <li><a th:href="@{/member/login}">Login</a></li>
                    <li><a th:href="@{/member/join}">Join</a></li>
                </div>
            </ul>
        </nav>
    </header>

    <div class="stepper">
        <div class="step-circle active" id="step-circle-1">1</div>
        <div class="line active" id="line-1"></div>
        <div class="step-circle" id="step-circle-2">2</div>
        <div class="line" id="line-2"></div>
        <div class="step-circle" id="step-circle-3">3</div>
    </div>

    <div class="step active" id="step1">
        <div class="center-content">
            <h2>요즘 뭐에 빠져있나요?</h2>
            <h2>당신의 취향을 알려주세요!</h2>
            <p>(관심사는 최대 5개까지 선택 가능해요.)</p>
        </div> 
        
        <form id="form-step1" class="interest-container">
            <div class="interests-container">
                <div class="interests-row">
                    <label class="interest-option hobby">
                        <input type="checkbox" name="interests" value="취미">
                        <span class="interest-text">취미</span>
                    </label>
                    <label class="interest-option development">
                        <input type="checkbox" name="interests" value="자기계발">
                        <span class="interest-text">자기계발</span>
                    </label>
                    <label class="interest-option food">
                        <input type="checkbox" name="interests" value="푸드">
                        <span class="interest-text">푸드</span>
                    </label>
                </div>
                <div class="interests-row">
                    <label class="interest-option activity">
                        <input type="checkbox" name="interests" value="액티비티">
                        <span class="interest-text">액티비티</span>
                    </label>
                    <label class="interest-option pets">
                        <input type="checkbox" name="interests" value="반려동물">
                        <span class="interest-text">반려동물</span>
                    </label>
                    <label class="interest-option culture">
                        <input type="checkbox" name="interests" value="문화">
                        <span class="interest-text">문화</span>
                    </label>
                    <label class="interest-option money">
                        <input type="checkbox" name="interests" value="재테크">
                        <span class="interest-text">재테크</span>
                    </label>
                </div>
                <div class="interests-row">
                    <label class="interest-option love">
                        <input type="checkbox" name="interests" value="연애">
                        <span class="interest-text">연애</span>
                    </label>
                    <label class="interest-option game">
                        <input type="checkbox" name="interests" value="게임">
                        <span class="interest-text">게임</span>
                    </label>
                    <label class="interest-option travel">
                        <input type="checkbox" name="interests" value="여행">
                        <span class="interest-text">여행</span>
                    </label>
                </div>
            </div>
            <button type="button" id="nextStep1">다음 페이지 > </button>
        </form>
    </div>

    <div class="step" id="step2" style="display: none;">
        <div class="center-content">
            <h2>어디에서 살펴볼까요?</h2>
            <h2>관심 지역을 선택해주세요!</h2>
        </div>
        <form id="form-step2">
            <div class="interests-container">
                <input type="text" id="location" name="location" placeholder="관심 지역 입력"><br>
            </div>
            <button type="button" id="nextStep2">다음 페이지</button>
        </form>
    </div>

    <div class="step" id="step3" style="display: none;">
        <h2>이제 거의 다 왔어요!</h2>
        <form id="form-step3">
            <input type="text" id="userid" name="userid" placeholder="아이디"><br>
            <input type="password" id="password" name="password" placeholder="비밀번호"><br>
            <input type="password" id="password2" name="password2" placeholder="비밀번호 확인"><br>
            <input type="text" id="phone" name="phone" placeholder="휴대전화"><br>
            <button type="button" id="submitForm">가입하기</button>
        </form>
    </div>
</body>
</html>
