<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kkiri Kkiri</title>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/kkirikkiri/css/main.css">
    <link rel="stylesheet" type="text/css" href="/kkirikkiri/css/header.css"> 
    <link rel="stylesheet" type="text/css" href="/kkirikkiri/css/loginForm.css"> 
    <script th:src ="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src ="@{/js/login.js}"></script>
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	
    <main>
        <form id = "loginForm" th:action = "@{/member/login}" method = "post" class="login-container">
            <h1 class="welcome-text">Welcome!</h1>
            <div class="input-box">
                <input type="text" id="id" name = "id" placeholder="아이디" class="username-input" required>
                <hr class="divider"> 
                <input type="password" id="password" name = "password" placeholder="비밀번호" class="password-input">
            </div>
            <div class = "errorMsg" th:if = "${param.error}">IO 또는 비밀번호가 틀립니다.</div>
            <button id = "loginBtn" class="login-button">로그인</button>
            <!-- <a th:href = "@{/oauth2/authorization/kakao}"><img th:src="@{/images/kakao_btn.png}" alt = "카카오로 로그인하기"></a> -->
        </form>
    </main>
</body>
</html>
