/* ======================= 이미지 미리보기 스타일 ======================= */

#imagePreview {
    display: block;
    margin-bottom: 10px;
    width: 200px; /* 원하는 너비로 설정 */
    height: 200px; /* 원하는 높이로 설정 */
    object-fit: cover; /* 이미지 비율 유지하며 잘림 방지 */
    background-image: url('../images/noImage_icon.png'); /* 배경 이미지로 설정 */
    background-size: cover; /* 배경 이미지 크기를 div에 맞추기 */
    background-position: center; /* 배경 이미지의 위치 설정 */
    border: 1px solid #808080; /* 외곽선 추가 */
    border-radius: 8px; /* 모서리를 둥글게 */
}

/* ======================= 버튼 스타일 ======================= */

/* 일반 버튼 스타일 */
button, input[type="button"], input[type="submit"] {
    cursor: pointer;
}

/* 활성화된 버튼 스타일 */
.active-button {
    background-color: #000000;
    color: white;
}

/* ======================= 인원 수 카운터 스타일 ======================= */

/* 인원 수 카운터 스타일 */
.person-counter {
    display: inline-flex;
}

/* ======================= 모달 스타일 ======================= */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 80%;
    margin: auto;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}
/* ======================= 기본 바디 스타일 ======================= */

body {
    font-family: 'S-CoreDream-3Light', sans-serif;
    background-color:  #f8f8f8;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ======================= 메인 콘텐츠 스타일 ======================= */
.main-content {
    flex-grow: 1; /* 메인 콘텐츠가 가능한 공간을 차지하도록 */
}

.form-table {
    width: 70%; /* 전체 너비 설정 */
    table-layout: fixed; /* 고정 레이아웃으로 균일한 너비 유지 */
}

.form-table input[type="text"], 
.form-table input[type="datetime-local"],
.form-table textarea {
    width: 100%; /* 입력 필드의 너비를 100%로 설정하여 셀 내에 맞춤 */
}

.form-section {
    max-width: 100%; /* 폼 섹션의 최대 너비 */
    margin: 0 auto; /* 중앙 정렬 */
}

/* 입력 필드 스타일 */
.form-section input[type="text"],
.form-section input[type="datetime-local"],
.form-section textarea {
    width: calc(100% - 20px); /* 너비 설정 및 내부 여백 보정 */
    padding: 10px; /* 입력 필드 내부 여백 */
    margin-bottom: 15px; /* 입력 필드 간격 */
    border: 1px solid #c0c0c0; /* 테두리 색상: 검정색으로 설정 */
    border-radius: 4px; /* 모서리 둥글게 */
    font-size: 14px; /* 폰트 크기 */
    box-sizing: border-box; /* 전체 너비 포함 */
}

/* 버튼 스타일 */
.form-section input[type="submit"] {
    background-color: #E48F85; /* 버튼 배경색 */
    color: #fff; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
    border-radius: 4px; /* 모서리 둥글게 */
    padding: 10px 20px; /* 버튼 패딩 */
    margin-top: 10px; /* 버튼 위쪽 간격 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

.form-section input[type="submit"]:hover {
    background-color: #d4756e; /* 버튼 호버 색상 */
}

/* ===================== 카테고리 라디오 버튼 스타일 ===================== */
.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* 라디오 버튼 간 간격 */
    margin-bottom: 20px; /* 아래쪽 여백 */
}

.category-container input[type="radio"] {
    display: none; /* 기본 라디오 버튼 숨기기 */
}

.category-container label {
    border: 1px solid #ddd; /* 동일한 테두리 색상 */
    background-color: #f2f2f2; /* 라벨 배경색 */
    border-radius: 20px; /* 둥근 모서리 */
    padding: 5px 10px; /* 라벨 패딩 */
    cursor: pointer; /* 커서 모양 */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* 배경색 및 테두리 전환 효과 */
}

.category-container input[type="radio"]:checked + label {
    background-color:  #cccccc;
    color: white;
}

/* ===================== 메인 콘텐츠의 이미지 업로드 버튼 스타일 ===================== */
#openHeaderImageModal {
    padding: 8px 15px;
    border-radius: 4px;
    transition: transform 0.1s; /* 클릭 시 애니메이션 */
}

#openHeaderImageModal:hover {
	transform: scale(1.1);
}

.image-upload-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative; /* 위치 조정 가능하도록 설정 */
    top: -10px; /* 위로 이동 */
    left: -51px; /* 오른쪽으로 이동 */
}

.image-icon {
    width: 30px; /* 원하는 크기로 조절 */
    height: 30px;
    
}

#removeImage {
    position: absolute;
    top: 10px;
    right: 10px;
    background: url('../images/delete.png') no-repeat center;
    background-size: cover;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    display: none; /* 기본적으로 숨김 */
}

#removeImage:hover {
	transform: scale(1.2);
}

/* ======================= 인원 수 카운터 스타일 ======================= */

/* 인원 수 카운터 스타일 */
.person-counter {
    display: inline-flex;
    align-items: center;
    gap: 5px; /* 버튼 간 간격 */
}

.person-counter button {
    background-color: #e0e0e0; /* 버튼의 기본 배경색 */
    color: #333; /* 텍스트 색상 */
    border: 1px solid #999; /* 테두리 색상 */
    border-radius: 50px; /* 모서리 둥글게 */
    padding: 5px 10px; /* 버튼 패딩 */
    cursor: pointer; /* 클릭 가능한 포인터 표시 */
}

.person-counter button:hover {
    background-color: #e0e0e0; /* 호버 시 색상 변경 */
    color: #333; /* 호버 시 텍스트 색상 유지 */
}

.person-counter button:active {
    transform: translateY(1px); /* 클릭 시 눌리는 효과 */
}

.person-counter span {
    margin: 0 5px; /* 숫자와 버튼 사이의 간격 */
    font-size: 16px; /* 텍스트 크기 */
    color: #333; /* 텍스트 색상 */
}

/* ===================== 위치 설정 스타일 ===================== */
#findPlace {
    padding: 5px 5px; /* 버튼 패딩 조절 */
    border-radius: 5px;
    border: 1px solid #999;
}

#location {
    flex-grow: 1; /* 입력 창이 남은 공간을 채우도록 설정 */
    padding: 8px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    font-size: 14px;
}

/* ===================== 해시태그 스타일 ===================== */
#hashtagContainer {
    display: flex;
    align-items: center;
    max-width: 100%; /* 최대 너비 설정 */
    flex-wrap: wrap; /* 넘칠 경우 줄바꿈 */
}

.hashtag-input-wrapper {
    display: flex;
    align-items: center;
    gap: 5px; /* 해시태그 입력 필드와 버튼 간 간격 */
}

.hashtag-wrapper {
    display: inline-flex;
    align-items: center;
    padding: 5px 5px;
    font-size: 12px;
}

.hashtag {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 6px 8px;
    border: 2px solid #E48F85;
    color: #E48F85;
    font-size: 14px;
}

.remove-hashtag {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
    display: flex;
    align-items: center;
    opacity: 0.7; /* 아이콘의 초기 투명도 */
    transition: opacity 0.2s ease; /* 호버 시 부드러운 효과 */
}

.remove-hashtag:hover {
    opacity: 1; /* 호버 시 투명도 제거 */
}

.delete-icon {
    width: 10px;
    height: 10px;
    opacity: 0.6;
}



.sidebar h2 i {
    color: #808080; /* 아이콘 색상 */
    margin-right: 5px; /* 아이콘과 텍스트 간격 */
    font-size: 25px; /* 아이콘 크기 */
}

.sidebar ul {
    padding-left: 20px; /* 리스트 전체를 왼쪽으로 이동 */
}

.sidebar ul li {
    margin-bottom: 3px; /* 각 항목 아래쪽에 8px의 간격 추가 */
    line-height: 1.5; /* 줄 간격 조절 */
}


/* 모든 입력 필드 및 텍스트 영역의 폰트 색상을 검정으로 설정 */
.form-section input[type="text"],
.form-section input[type="datetime-local"],
.form-section textarea,
.form-section input[type="button"],
.form-section input[type="submit"],
#findPlace,
#location,
.hashtag-input-wrapper input[type="text"],
.hashtag-input-wrapper input[type="button"],
.person-counter button,
.sidebar ul li {
    font-family: 'S-CoreDream-3Light', sans-serif;
    color: #000000; /* 검정색 */
}


.form-table input[type="text"] {
    width: 100%;
    height: 40px; /* 원하는 높이로 조정 */
    padding: 10px; /* 내부 패딩 */
    box-sizing: border-box;
}

.form-table input[type="datetime-local"] {
    width: 100%;
    height: 40px; /* 그룹 이름과 같은 높이로 설정 */
    padding: 10px; /* 내부 패딩 */
    box-sizing: border-box;
}


