@charset "UTF-8";

#imagePreview {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 200px;
}

.active-button {
    background-color: #000000;
    color: white;
}

button, input[type="button"], input[type="submit"] {
    cursor: pointer;
}

.person-counter {
    display: inline-flex;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1000;
    white-space: nowrap;
}

body {
    font-family: 'S-CoreDream-3Light', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
