/* 기본 폰트 설정 */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    display: flex;
    justify-content: space-between; 
    margin: 0;
    padding: 0
}

html {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    top: 80px;
    flex: 0 0 300px; /* 헤더 영역을 고정된 너비로 설정 */
}

nav ul {
    list-style-type: none;
    padding-left: 20px;
    padding: 0;  /* padding을 제거 */
    margin: 0;
}

nav ul li {
    margin-bottom: 30px; /* 각 항목 사이 간격 조정 */
}

nav ul li a {
    text-decoration: none;
    font-family: 'S-CoreDream-3Light', sans-serif;
    font-size: 20px;
    color: black;
}

nav ul li a.active {
    font-family: 'S-CoreDream-5Medium', sans-serif;
    font-weight: bold;
    color: black;
}

nav ul li a:hover {
    font-family: 'S-CoreDream-6Bold', sans-serif;
    font-weight: bold;
    color: #333333;
}

.home-link {
    padding-left: 80px;
}

.profile-edit-link {
    padding-left: 40px;
}

.group-management-link {
    padding-left: 50px;
}

.payment-management-link {
    padding-left: 50px;
}

/* 선의 스타일링 */
.divider {
    border: none;
    border-top: 1px solid #D9D9D9; /* 선 색상 및 두께 설정 */
    width: 1470px; /* 선의 가로 길이, 90%로 설정하여 중앙 정렬 */
    margin: 20px auto; /* 위아래 여백과 선 중앙 정렬 */
}

.profile-edit-section {
    position: relative;
    left: -750px; /* 원하는 만큼 왼쪽으로 이동 */
    width: 100%;
    top: 50px; /* 원하는 만큼 아래로 이동 */
    display: flex;
    align-items: center;
}


/* 프로필 이미지 스타일 */
.profile-edit-section img {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 50%; 
}