
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
}

.header-container {
    width: 100%;
}


.page-container {
    display: flex;
    flex-direction: column; 
    padding: 0;
    margin: 0;
}


.calendar-wrapper {
    display: flex;
    margin-top: 70px; 
}


.calendar-container {
    margin-top: 250px;
    background-color: #f5f5f5;
    width: 100%;
    margin-left: -800px; 
}


#calendar {
    font-family: 'S-CoreDream-3Light', sans-serif;
    width: 450px;
      height: auto; 
}

.fc-toolbar-title {
    font-size: 14px !important;
    font-weight: 100;
    color: #333;
    line-height: 1.2;
}

.fc-today-button {
    display: none !important;
}

.fc {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}


.fc-daygrid-day {
    border: none;
    width: 20px; 
    height: 20px;
    font-size: 12px;
}


.fc-event {
    background-color: #FFB6C1 !important;
    color: #333 !important;
    border: none !important;
    font-size: 10px; 
}

.fc-day-header {
    font-size: 9px !important; 
    height: 20px;
    text-align: center;
    color: #333;
    padding: 0;
    box-sizing: border-box;
}

.fc-day-header:nth-child(1) {
    color: red;
}

/* 일요일 색상 조정 */
.fc-daygrid-day.fc-day-sun {
    color: red;
}

.fc .fc-button-group .fc-prev-button,
.fc .fc-button-group .fc-next-button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.fc .fc-button-group .fc-prev-button:active,
.fc .fc-button-group .fc-next-button:active {
    background-color: transparent;
    border: none;
}