@charset "UTF-8";

/* ======================= 상위 지역 및 하위 지역 버튼 스타일 ======================= */

/* 상위 지역 버튼 스타일 */
.location-btn {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

/* 하위 지역 버튼 스타일 */
.sub-location-btn {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

/* 선택된 하위 지역 버튼에 대한 스타일 */
.sub-location-btn.selected {
    background-color: #000; /* 배경색 반전 */
    color: #fff; /* 텍스트 색상 반전 */
    border-color: #000; /* 테두리 색상 변경 */
}

/* 하위 지역 버튼 리스트 */
.sub-location-list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 10px 10px;
    display: none;  /* Initially hidden */
}

/* ======================= 생성 버튼 스타일 ======================= */

/* 생성 버튼 */
.create-btn {
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 90px;
    height: 90px;
    background-color: rgba(74, 144, 226, 0.8);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 14px;
    text-align: center;
}

.create-btn:hover {
    background-color: #0056b3;
}

/* ======================= 버튼 및 토글 스타일 ======================= */

/* 카테고리, 정렬, 위치 토글 버튼 스타일 */
#allGroupsButton, #category-toggle, #sort-toggle, #location-toggle {
    cursor: pointer;
    display: inline-block;
    margin: 20px 0;
}

/* ======================= 검색어 강조 스타일 ======================= */

/* 검색어 강조 스타일 */
.highlight-query {
    color: #FF4081;
    font-weight: bold;
}

/* ======================= 숨김 클래스 스타일 ======================= */

/* 숨겨진 상태의 요소 */
.hidden {
    display: none;
}

/* ======================= 기본 바디 스타일 ======================= */

body {
    font-family: 'S-CoreDream-3Light', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ============================================== */

.group-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* ============================================== */
.hashtags {
    white-space: normal; /* 줄바꿈 허용 */
}

.hashtags div {
    display: flex; /* 해시태그가 가로로 나열되도록 강제 */
    flex-wrap: wrap; /* 공간이 부족할 경우 다음 줄로 넘어가도록 */
    gap: 10px; /* 해시태그 간의 간격을 지정 */
}

.hashtags div span {
    display: inline-block; /* 해시태그를 가로로 정렬 */
    margin-right: 10px; /* 해시태그 간 여백 */
    padding: 5px; /* 여백을 주어 해시태그 간 간격을 일정하게 */
    background-color: #f1f1f1; /* 해시태그 배경색 */
    border-radius: 5px; /* 해시태그 모서리 둥글게 */
    white-space: nowrap; /* 해시태그 텍스트 줄바꿈 방지 */
}



