@charset "UTF-8";

.container {
    display: flex;
    margin: 0 auto;
}

.sidebar {
    width: 20%;
    border-right: 1px solid #e0e0e0;
}

/* 버튼의 기본 스타일 */
button {
    cursor: pointer;
    padding: 8px;
    margin: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* 하위 지역 버튼 리스트 */
.sub-region-list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 10px 10px;
    display: none;  /* Initially hidden */
}

.sub-region-list button {
    margin: 3px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

/* 숨겨진 상태의 요소 */
.hidden {
    display: none;
}
