@charset "UTF-8";

.container {
    display: flex;
    margin: 0 auto;
}

.sidebar {
    width: 20%;
    border-right: 1px solid #e0e0e0;
}

/* 클릭할 수 있는 버튼에 마우스 올리면 커서 변경 */
button {
    cursor: pointer;
}

/* 추가: input 요소 중 버튼 타입에도 커서 변경 */
input[type="button"] {
    cursor: pointer;
}
