* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.group-section, .place-section {
    margin-bottom: 40px;
}

.group-list, .place-list {
    display: flex; /* 가로로 나열 */
    overflow-x: auto; /* 수평 스크롤 가능 */
}

.group-item, .place-item {
    background: white;
    border-radius: 8px;
    margin-right: 20px;
    padding: 10px;
    flex: 0 0 200px; 
    text-align: center;
}

.group-item img, .place-item img {
    width: 100%; 
    height: 170px; 
    object-fit: cover; 
    border-radius: 8px;
}
h2 {
    margin-bottom: 10px;
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}
