<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/extra/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<link th:href="@{/css/sidebar.css}" rel="stylesheet">
	<link th:href="@{/css/groupboardSchedule.css}" rel="stylesheet">
	<link th:href="@{/css/header.css}" rel="stylesheet">
	<script th:src="@{/js/groupboardSchedule.js}"></script>
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	
	<div class="container">
		<!-- Sidebar Section -->
		<div class="sidebar">
            <h2>그룹 게시판</h2>
            
            <br>
            
            <div>가입 멤버</div>
            <ul class="members-list">
			    <li th:each="member : ${members}">
			        <img th:src="@{/upload/{profileImage}(profileImage=${member.profileImage})}" alt="프로필 이미지" class="profile-img">
			        <span th:text="${member.userId}"></span>
			    </li>
			</ul>
        </div>
		
		<!-- Main Content Section -->
        <div class="main-content">
        
        	<nav class="tabs">
			    <a th:href="@{/groupboard/announcement(groupId=${group.groupId}, type='announcement')}" class="tab">공지사항</a>
			    <a th:href="@{/groupboard/schedule(groupId=${group.groupId}, type='schedule')}" class="tab">일정</a>
			    <a th:href="@{/groupboard/album(groupId=${group.groupId}, type='album')}" class="tab">앨범</a>
			    <a th:href="@{/groupboard/settings(groupId=${group.groupId}, type='settings')}" class="tab">설정</a>
			</nav>
			
			<div class="schedule-details">
				<input type="hidden" id="groupId" th:value="${groupId}">
			    
			    <table>
                    <tr>
                        <td>날짜시간:</td>
                        <td>
                            <p id="eventDateDisplay" th:text="${eventDateFormatted}"></p>
                            <input type="datetime-local" id="eventDateInput" th:value="${eventDateFormatted}" style="display: none;">
                        </td>
                    </tr>
                    <tr>
                        <td>장소:</td>
                        <td>
					        <div class="location-wrapper">
					            <input type="button" id="findPlace" value="지역 찾기" style="display: none;">
					            <input type="text" id="location" name="location" style="display: none;">
					            <p id="locationDisplay" th:text="${group.location}"></p>
					        </div>
					    </td>
                    </tr>
                </table>
			    
			    <button id="editButton">수정</button>
			    <button id="saveButton" style="display: none;">저장하기</button>
			</div>
        	<!-- <table>
                <tr>
                    <td><label for="eventDate">이벤트 날짜:</label></td>
                    <td>
			            <input type="datetime-local" id="eventDate" name="eventDate"
			                   th:value="${eventDateFormatted}" />
			        </td>
                </tr>

                <tr>
                    <td><label for="location">위치:</label></td>
                    <td><input type="text" id="location" name="location" th:value="${group.location}"></td>
                </tr>
        	</table> -->
        </div>
    </div>

</body>
</html>