<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/extra/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<link th:href="@{/css/sidebar.css}" rel="stylesheet">
	<link th:href="@{/css/groupboardSettings.css}" rel="stylesheet">
	<link th:href="@{/css/header.css}" rel="stylesheet">
	<script th:src="@{/js/groupboardSettings.js}"></script>
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	
	<div class="container">
		<!-- Sidebar Section -->
		<div class="sidebar">
            <h2>그룹 게시판</h2>
            
            <br>
            
            <div>가입 멤버</div>
            <ul class="members-list">
			    <li th:each="member : ${members}">
			        <img th:src="@{/upload/{profileImage}(profileImage=${member.profileImage})}" alt="프로필 이미지" class="profile-img">
			        <span th:text="${member.userId}"></span>
			    </li>
			</ul>
        </div>
		
		<!-- Main Content Section -->
        <div class="main-content">
        
        	<nav class="tabs">
			    <a th:href="@{/groupboard/announcement(groupId=${group.groupId}, type='announcement')}" class="tab">공지사항</a>
			    <a th:href="@{/groupboard/schedule(groupId=${group.groupId}, type='schedule')}" class="tab">일정</a>
			    <a th:href="@{/groupboard/album(groupId=${group.groupId}, type='album')}" class="tab">앨범</a>
			    <a th:href="@{/groupboard/settings(groupId=${group.groupId}, type='settings')}" class="tab">설정</a>
			</nav>
	
		    <!-- 그룹 정보 수정 폼 -->
		    <form id="settingsForm" th:action="@{/groupboard/update}" method="post" enctype="multipart/form-data">
	    		<input type="hidden" name="groupId" id="groupId" th:value="${group.groupId}"/> <!-- groupId 숨겨진 필드 -->
	
	            <table>
	            	<tr>
					    <td><label for="interest">카테고리:</label></td>
					    <td>
					        <label class="interest-label" th:classappend="${group.interest.name() == 'HOBBY'} ? 'selected'" for="hobby">취미</label>
					        <input type="radio" id="hobby" name="interest" value="HOBBY" class="radio-hidden" th:checked="${group.interest.name() == 'HOBBY'}">
					        
					        <label class="interest-label" th:classappend="${group.interest.name() == 'DEVELOPMENT'} ? 'selected'" for="development">자기계발</label>
					        <input type="radio" id="development" name="interest" value="DEVELOPMENT" class="radio-hidden" th:checked="${group.interest.name() == 'DEVELOPMENT'}">
					        
					        <label class="interest-label" th:classappend="${group.interest.name() == 'FOOD'} ? 'selected'" for="food">푸드</label>
					        <input type="radio" id="food" name="interest" value="FOOD" class="radio-hidden" th:checked="${group.interest.name() == 'FOOD'}">
					        
					        <label class="interest-label" th:classappend="${group.interest.name() == 'ACTIVITY'} ? 'selected'" for="activity">액티비티</label>
					        <input type="radio" id="activity" name="interest" value="ACTIVITY" class="radio-hidden" th:checked="${group.interest.name() == 'ACTIVITY'}">
					        
					        <label class="interest-label" th:classappend="${group.interest.name() == 'PETS'} ? 'selected'" for="pets">반려동물</label>
					        <input type="radio" id="pets" name="interest" value="PETS" class="radio-hidden" th:checked="${group.interest.name() == 'PETS'}">
					        
					        <label class="interest-label" th:classappend="${group.interest.name() == 'CULTURE'} ? 'selected'" for="culture">문화</label>
					        <input type="radio" id="culture" name="interest" value="CULTURE" class="radio-hidden" th:checked="${group.interest.name() == 'CULTURE'}">
					        
					        <label class="interest-label" th:classappend="${group.interest.name() == 'MONEY'} ? 'selected'" for="money">재테크</label>
					        <input type="radio" id="money" name="interest" value="MONEY" class="radio-hidden" th:checked="${group.interest.name() == 'MONEY'}">
					        
					        <label class="interest-label" th:classappend="${group.interest.name() == 'LOVE'} ? 'selected'" for="love">연애</label>
					        <input type="radio" id="love" name="interest" value="LOVE" class="radio-hidden" th:checked="${group.interest.name() == 'LOVE'}">
					        
					        <label class="interest-label" th:classappend="${group.interest.name() == 'GAME'} ? 'selected'" for="game">게임</label>
					        <input type="radio" id="game" name="interest" value="GAME" class="radio-hidden" th:checked="${group.interest.name() == 'GAME'}">
					        
					        <label class="interest-label" th:classappend="${group.interest.name() == 'TRAVEL'} ? 'selected'" for="travel">여행</label>
					        <input type="radio" id="travel" name="interest" value="TRAVEL" class="radio-hidden" th:checked="${group.interest.name() == 'TRAVEL'}">
					    </td>
					</tr>
	                <tr>
					    <td><label for="profileImage">헤더 이미지:</label></td>
					    <td>
					        <img id="headerImagePreview" th:src="@{/upload/{groupProfileImage}(groupProfileImage=${groupProfileImage})}" alt="헤더 이미지 미리보기" style="width:200px; height:200px;">
					        <!-- <button type="button" id="removeImage" style="display:block;">이미지 삭제</button> -->
					        <button type="button" id="openHeaderImageModal" class="image-upload-button">
							    <img src="../images/camera.png" alt="헤더 이미지 업로드" class="image-icon">
							</button>
					        <!-- <button type="button" id="openHeaderImageModal">헤더 이미지 관리</button> -->
					    </td>
					</tr>
	
	                <tr>
	                    <td><label for="groupName">그룹 이름:</label></td>
	                    <td><input type="text" id="groupName" name="groupName" th:value="${group.groupName}"></td>
	                </tr>
	
	                <tr>
	                    <td><label for="description">그룹 설명:</label></td>
	                    <td><textarea id="description" name="description" th:text="${group.description}"></textarea></td>
	                </tr>
	
	                <tr>
	                    <td><label for="memberLimit">인원 제한:</label></td>
	                    <td>
	                        <div class="person-counter">
	                            <button type="button" id="decreaseCount"><</button>
	                            <input type="text" id="memberLimit" name="memberLimit" th:value="${group.memberLimit}" readonly>
	                            <!-- <span id="memberLimit" th:text="${group.memberLimit}">2</span> -->
	                            <button type="button" id="increaseCount">></button>
	                        </div>
	                    </td>
	                </tr>
	                
	                <tr>
	                	<td>멤버 관리:</td>
	                	<td>
					        <div class="member-management">
					            <div class="member-list" style="max-height: 200px; overflow-y: auto;">
					                <div th:each="member : ${members}">
					                    <span th:text="${member.userId}"></span>
					                    <button type="button" class="remove-member" th:data-user-id="${member.userId}">삭제</button>
					                </div>
					            </div>
					        </div>
					    </td>
	                </tr>
	                
	                <tr>
					    <td><label>가입 권한:</label></td>
					    <td>
					        <input type="radio" name="joinMethod" value="AUTO" th:checked="${group.groupJoinMethod.name() == 'AUTO'}"> 바로 가입
					        <input type="radio" name="joinMethod" value="APPROVAL" th:checked="${group.groupJoinMethod.name() == 'APPROVAL'}"> 승인 후 가입
					    </td>
					</tr>
	                
	                <tr>
	                    <td><label for="hashtag">해시태그:</label></td>
	                    <td>
	                    	<div class="hashtag-input-wrapper">
		                        <input type="text" id="hashtag" name="hashtags" placeholder="해시태그 입력">
		                        <input type="button" id="addHashtag" value="등록">
		                    </div>
		                </td>
		            </tr>
		            <tr>
		            	<td colspan="2">
	                        <div id="hashtagContainer">
		                        <div th:each="tag : ${hashtags}">
								    <span class="hashtag-item" th:text="'#' + ${tag.name}"></span>
								    <button type="button" class="remove-hashtag">
								        <img src="../images/delete.png" alt="삭제" class="delete-icon">
								    </button>
								</div>
							</div>
						</td>
	                        <!-- <div id="hashtagContainer">
					            <div th:each="tag : ${hashtags}">
					                <span class="hashtag-item" th:text="'#' + ${tag.name}"></span>
					                <button type="button" class="remove-hashtag">삭제</button>
					            </div>
					        </div> -->
	                </tr>
	                <tr>
	                    <td>
	                        <button type="submit" id="updateGroupBtn">그룹 수정</button>
	                    </td>
	                </tr>
	            </table>
	        </form>
	    </div>
	    
		<!-- 헤더 이미지 업로드 모달 -->
	    <div id="headerImageModal" class="modal" style="display:none;">
	        <div class="modal-content">
	            <span class="close">&times;</span>
	            <h2>헤더 이미지 업로드</h2>
	            <input type="file" id="modalHeaderImageInput" accept="image/*">
	            <img id="modalImagePreview" src="" alt="이미지 미리보기" style="display:none; width:200px; height:200px;">
	            <button type="button" id="modalUploadHeaderImage">업로드</button>
	            <button type="button" id="modalCancelUpload">취소</button>
	        </div>
	    </div>
   	</div>
</body>
</html>