<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>트렌드 페이지</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link th:href="@{/css/trend.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>
    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <div class="container">
        <section class="group-section">
            <h2>선호하는 지역에서 활동하는 그룹을 만나보세요</h2>
            <div class="group-list">
                <!-- 그룹 목록 아이템 -->
                <div class="group-item" th:each="group : ${locationGroups}">
                    <img th:src="${group.profileImage}" alt="Group Image">
                    <h3 th:text="${group.groupName}"></h3>
                    <p th:text="${group.description}"></p>
                </div>
            </div>
        </section>

        <section class="group-section">
            <h2>가까운 지역에서 활동에 참여해보세요</h2>
            <div class="group-list">
                <!-- 그룹 목록 아이템 -->
                <div class="group-item" th:each="group : ${locationPlaces}">
                    <img th:src="${group.profileImage}" alt="Group Image">
                    <h3 th:text="${group.title}"></h3>
                    <p th:text="${group.description}"></p>
                </div>
            </div>
        </section>

        <section class="place-section">
            <h2>곧 마감! 가장 빨리 진행되는 활동을 알아보세요</h2>
            <div class="place-list">
                <!-- 플레이스 목록 아이템 -->
                <div class="place-item" th:each="place : ${places}">
                    <img th:src="${place.profileImage}" alt="Place Image">
                    <h3 th:text="${place.title}"></h3>
                    <p th:text="${place.description}"></p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
