<!-- mainheader.html -->
<header>
    <nav>
        <ul>
            <li class="left-logo">
                <a th:href="@{/}">Kkiri</a>
            </li>
            <div class="center-menu">
                <li><a th:href="@{/socialgroup/socialing}">소셜링</a></li>
                <li><a href="#">트렌드</a></li>
                <li><a href="#">플레이스</a></li>
            </div>
            <div class="right-menu">
                <li><a th:href="@{/member/login}">Login</a></li>
                <li><a th:href="@{/member/join}">Join</a></li>
            </div>
        </ul>
    </nav>
</header>
