<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Kkiri Kkiri</title>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet"> 
    <link th:href="@{/css/main.css}" rel="stylesheet"> 
    
</head>
<body>

    <div th:replace="~{fragments/header :: header}"></div>
    
    <main>
        <h1 class="main-heading">Kkiri Kkiri</h1>
        <p class="center-text">
            <span>혼자가 아닌, 함께하는 즐거움!</span><br>
            <span>끼리끼리에서!</span>
        </p>

        <a th:href="@{/socialgroup/create}" class="create-button">그룹 생성</a>
         
        <div class="header-image">
            <img th:src="@{/images/main.png}" alt="메인 이미지" />

        </div>
    </main>
</body>
</html>