<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kkiri Kkiri</title>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/kkirikkiri/css/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
              
                <li class="left-logo">
                    <a th:href="@{/}">Kkiri</a>
                </li>
                <div class="center-menu">
                    <li><a th:href="@{/socialgroup/socialing}">소셜링</a></li>
                    <li><a href="#">트렌드</a></li>
                    <li><a href="#">플레이스</a></li>
                </div>
                <div class="right-menu">
                    <li><a th:href="@{/member/login}">Login</a></li>
                    <li><a th:href="@{/member/join}">Join</a></li>
                </div>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1 class="main-heading">Kkiri Kkiri</h1>
        <p class="center-text">
            <span>혼자가 아닌, 함께하는 즐거움!</span><br>
            <span>끼리끼리에서!</span>
        </p>
        <a th:href="@{/socialgroup/create}" class="create-button">그룹 생성</a>
    </main>
</body>
</html>
