<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="left-logo">
                    <a th:href="@{/}">Kkiri</a>
                </li>
                <div class="center-menu">
                    <li><a th:href="@{/socialgroup/socialing}">소셜링</a></li>
                    <li><a href="#">트렌드</a></li>
                    <li><a href="#">플레이스</a></li>
                </div>
                <div class="right-menu">
                    <li><a th:href="@{/member/login}">Login</a></li>
                    <li><a th:href="@{/member/joinForm1}">Join</a></li>
                </div>
            </ul>
        </nav>
    </header>
</body>
</html>
