<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>그룹 앨범</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link th:href="@{/css/album.css}" rel="stylesheet">
    <script th:src="@{/js/album.js}"></script>
</head>
<body>
    <div class="album-container">
        <!-- 사진 업로드 모달을 열기 위한 버튼 -->
        <button id="openAlbumModal" class="upload-button">사진 업로드</button>

        <!-- 앨범 그리드 -->
        <div id="uploadedPhotos" class="album-grid">
            <!-- 서버에서 가져온 업로드된 사진들이 여기에 추가됩니다 -->
        </div>
    </div>

    <!-- 사진 업로드 모달 -->
    <div id="albumModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>사진 업로드</h2>
            <input type="file" id="modalAlbumImageInput" accept="image/*">
            <img id="modalImagePreview" src="" alt="이미지 미리보기" style="display:none; width:200px; height:200px;">
            <button id="modalUploadAlbumImage">업로드</button>
            <button id="modalCancelUpload">취소</button>
        </div>
    </div>
</body>
</html>
