<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/extra/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/js/announcement.js}"></script>
</head>
<body>
	<!-- 공지사항 등록 섹션 -->
    <div>
        <textarea id="announcementText" placeholder="공지사항을 입력하세요."></textarea>
        <button id="postAnnouncement">공지 등록</button>
    </div>

    <!-- 공지사항 목록 표시 -->
    <div id="announcementList">
        <!-- 동적으로 공지사항 목록이 여기 추가됩니다. -->
    </div>

    <!-- 공지사항 수정 섹션 (처음에는 숨김 처리됨) -->
    <div id="editAnnouncement" class="hidden">
        <textarea id="announcementEditText" placeholder="공지사항을 수정하세요."></textarea>
        <button id="editAnnouncementBtn">공지 수정</button>
    </div>
</body>
</html>