<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/extra/spring-security">
<head>
    <meta charset="UTF-8">
    <title>그룹 목록 페이지</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link th:href="@{/css/sidebar.css}" rel="stylesheet">
    <link th:href="@{/css/socialing.css}" rel="stylesheet">
    <!-- 여기 아래 코드 위치만 바꿈 위에 있으면 적용안돼서 -나연- -->
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <script th:src="@{/js/socialing.js}"></script>
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	
    <div class="container">
        <!-- Sidebar Section -->
        <div class="sidebar">
            <h2>내게 맞는 그룹 찾기</h2>
            <div class="search">
			    <form method="get" th:action="@{/socialgroup/socialing}">
				    <input type="text" name="query" th:value="${query}" placeholder="검색어를 입력하세요">
				    <input type="submit" value="검색">
				</form>
			</div>
            
            <!-- 카테고리 필터 -->
			<div class="category-filters">
				
				<div>
					<h3 id="allGroupsButton" class="view-all-btn" style="cursor: pointer;">전체 그룹 보기</h3>
					<!-- <h3><a href="#" id="allGroupsButton" class="btn view-all-btn">전체 그룹 보기</a></h3> -->
				</div>
				
			    <h3 id="category-toggle" style="cursor: pointer;">카테고리별</h3>
			    <div id="category-container" style="display: none;">
			        <label class="interest-option">
			            <input type="checkbox" name="interest" value="HOBBY"><span>취미</span>
			        </label>
			        <label class="interest-option">
			            <input type="checkbox" name="interest" value="DEVELOPMENT"><span>자기계발</span>
			        </label>
			        <label class="interest-option">
			            <input type="checkbox" name="interest" value="FOOD"><span>푸드</span>
			        </label>
			        <label class="interest-option">
			            <input type="checkbox" name="interest" value="ACTIVITY"><span>액티비티</span>
			        </label>
			        <label class="interest-option">
			            <input type="checkbox" name="interest" value="PETS"><span>반려동물</span>
			        </label>
			        <label class="interest-option">
			            <input type="checkbox" name="interest" value="CULTURE"><span>문화</span>
			        </label>
			        <label class="interest-option">
			            <input type="checkbox" name="interest" value="MONEY"><span>재테크</span>
			        </label>
			        <label class="interest-option">
			            <input type="checkbox" name="interest" value="LOVE"><span>연애</span>
			        </label>
			        <label class="interest-option">
			            <input type="checkbox" name="interest" value="GAME"><span>게임</span>
			        </label>
			        <label class="interest-option">
			            <input type="checkbox" name="interest" value="TRAVEL"><span>여행</span>
			        </label>
			    </div>
			</div>
            
            <!-- 지역별 필터 -->
            <div class="location-filters">
                <h3 id="location-toggle" style="cursor: pointer;">지역별</h3>
                <div id="location-container" class="hidden">
                    <!-- 상위 지역 버튼들이 여기에 동적으로 생성됨 -->
                    <div id="location-container" class="location-container"></div>
                </div>
            </div>

            <div class="sort-filters">
			    <h3 id="sort-toggle" style="cursor: pointer;">정렬 기준</h3>
			    <div id="sort-options" class="hidden">
			        <table>
			        	<tr>
			                <td><input type="radio" class="sort-btn" name="sort" value="mostViewed"> 조회순</td>
			            </tr>
			            <tr>
			                <td><input type="radio" class="sort-btn" name="sort" value="mostBookmarked"> 북마크순</td>
			            </tr>
			            <tr>
			                <td><input type="radio" class="sort-btn" name="sort" value="upcomingEvents"> 다가오는 이벤트순</td>
			            </tr>
			        </table>
			    </div>
			</div>
        </div>

        <!-- Main Content Section -->
        <div class="main-content">
        	<!-- Hashtag filter buttons -->
		    <div class="hashtags" id="hashtag-container">
		    	<div class="hashtag-wrapper">
			        <div>
			        	<!-- 해시태그가 없을 때 기본적으로 출력 -->
				        <div th:if="${#lists.isEmpty(allHashtags)}">
				            <span>#아직 등록된 해시태그가 없습니다. 해시태그를 추가해보세요.</span>
				        </div>
				        <!-- 해시태그가 있을 때 출력 (중복 제거된 해시태그만 출력) -->
						<div th:each="hashtag : ${allHashtags}">
						    <a th:href="@{/socialgroup/filter(query=${hashtag})}">
						         <span th:text="'#' + ${hashtag}"></span>
						    </a>
						</div>
				    </div>
			    </div>
		    </div>

            <div sec:authorize="isAuthenticated()">
		        <h2 th:text="${#authentication.name} + '님의 관심사에 맞는 그룹들을 만나보세요!'"></h2>
		    </div>
		    <h2 th:if="${name == null}">로그인 후 관심사에 맞는 그룹들을 만나보세요!</h2>

            <!-- Group Listings -->
            <div class="group-listing" id="group-container">
			    <!-- 전체 그룹 목록을 처음에 출력 -->
			    <!-- 검색 결과가 없을 경우 출력 -->
				<div th:if="${#lists.isEmpty(groups)}">
			        <p>검색 결과가 없습니다. 다른 검색어를 입력해보세요.</p>
			    </div>
			    
				<!-- 검색 결과가 있을 경우 출력 -->
				<div th:unless="${#lists.isEmpty(groups)}">
				    <div th:each="group : ${groups}">
				    	<div class="group-card-wrapper" style="position: relative;">
					    	<div class="group-card" data-group-id="${group.groupId}" th:onclick="'location.href=\'/kkirikkiri/groupboard/main?groupId=' + ${group.groupId} + '\';'">
							    <div class="group-info">
							        <table>
							            <tr>
							                <td>
							                    <img th:src="@{${group.profileImage != null} ? '/upload/' + ${group.profileImage} : '/images/noImage_icon.png'}" alt="Profile Image" class="group-image">
							                </td>
							                <td>
							                    <h3 th:text="${group.groupName}">그룹 이름</h3>
							                    <p th:text="'위치: ' + ${group.location}">위치</p>
							                    <p th:text="${#temporals.format(group.eventDate, 'yyyy-MM-dd')}">날짜</p>
							                    <p th:text="'인원: ' + (${memberCountMap != null ? memberCountMap[group.groupId] : 0}) + '/' + ${group.memberLimit} + '명'">인원</p>
							                    <p th:text="'조회수: ' + ${group.viewCount}">조회수</p>
							                    <p th:text="'북마크: ' + ${group.bookmarkCount}" class="bookmark-count">북마크 수</p>
							                </td>
							                <td>
							                    <a th:href="@{/socialgroup/joinGroupInvitation(groupId=${group.groupId})}" class="join-btn">그룹 참여</a>
							                </td>
							            </tr>
							        </table>
							    </div>
							</div>
							<button type="button" class="bookmark-btn" th:data-group-id="${group.groupId}">
						        <img th:src="@{${bookmarkedMap != null && bookmarkedMap[group.groupId] != null && bookmarkedMap[group.groupId] ? '/images/bookmarked.png' : '/images/bookmarks.png'}}"
						             alt="Bookmark Icon" class="bookmark-icon" />
						    </button>
						</div>
				    </div>
				</div>
                
	            <!-- 검색 결과가 없을 때 출력할 메시지 -->
				<div id="no-result-message" style="display: none;">
	                <p id="no-result-text"></p>
	            </div>
	            
            </div>
            
        <a th:href="@{/socialgroup/create}" class="btn create-btn">그룹 생성</a>
        
		</div>
	</div>
	
</script>
</body>
</html>
