<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로필 수정</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
    <h1>프로필 수정</h1>
    
    <form action="update" method="post">
        <table>
        
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" required /></td>
            </tr>
            
  
        </table>
    </form>
</body>
</html>
