<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>플레이스 상세</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link th:href="@{/css/sidebar.css}" rel="stylesheet">
    <link th:href="@{/css/placeDetail.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <script th:src="@{/js/placeDetail.js}"></script>
</head>
<body>
	<th:block th:replace="~{fragments/header :: header}"></th:block>

	<div class="place-header">
	    <div class="profile-image">
	        <img th:src="@{/upload/{profileImage}(profileImage=${place.profileImage})}" alt="Profile Image">
	    </div>
	    <div class="place-info">
	        <h1 class="title" th:text="${place.title}"></h1>
	        <p class="description" th:text="${place.description}"></p>
	        
	        <table class="place-details-table">
	            <tr>
	                <th>카테고리</th>
	                <td th:text="${place.category}"></td>
	            </tr>
	            <tr>
	                <th>날짜</th>
	                <td th:text="${place.eventDate}">
	                <!-- <td th:text="${place.eventDate.getClass().getName()}"></td>
	                <td th:text="${#dates.format(place.eventDate, 'yyyy-MM-dd HH:mm')}"></td> -->
	            </tr>
	            <tr>
	                <th>장소</th>
	                <td th:text="${place.location}"></td>
	            </tr>
	            <tr>
	                <th>최소 인원</th>
	                <td th:text="${place.requiredMembers}"></td>
	            </tr>
	            <tr>
	                <th>최대 인원</th>
	                <td th:text="${place.memberLimit}"></td>
	            </tr>
	            <tr>
	                <th>현재 참여 인원</th>
	                <td th:text="${place.currentMembers}"></td>
	            </tr>
	            <tr>
	                <th>주최</th>
	                <td th:text="${place.vendorId}"></td>
	            </tr>
	            <tr>
	                <th>조회수</th>
	                <td th:text="${place.viewCount}"></td>
	            </tr>
	            <tr>
	                <th>북마크수</th>
	                <td th:text="${place.bookmarkCount}"></td>
	            </tr>
	        </table>
	
	        <!-- 가격과 참여하기 버튼을 테이블 아래로 이동 -->
	        <div class="place-price">
	            <h2 th:text="'가격: ₩' + ${place.price}"></h2>
	        </div>
	
	        <div class="place-action">
	            <button class="join-button">플레이스에 참여하기</button>
	        </div>
	    </div>
	</div>

</body>
</html>