<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공통 헤더</title>
    <link rel="stylesheet" type="text/css" href="/kkirikkiri/css/dashboardheader.css">
</head>
<body>
    <header th:fragment="header(currentPage)">
        <nav>
            <ul>
                <li><a th:classappend="${currentPage == 'mypage'} ? 'active'" href="/kkirikkiri/dashboard/mypage">홈</a></li>
                <li><a th:classappend="${currentPage == 'profileedit'} ? 'active'" href="/kkirikkiri/dashboard/profileedit">프로필 수정</a></li>
                <li><a th:classappend="${currentPage == 'groupManagement'} ? 'active'" href="/kkirikkiri/dashboard/groupManagement">그룹 관리</a></li>
                <li><a th:classappend="${currentPage == 'paymentManagement'} ? 'active'" href="/kkirikkiri/dashboard/paymentManagement">결제 관리</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
