<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로필 수정</title>
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/profileEdit.css}" rel="stylesheet">
    <script src="/kkirikkiri/js/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/profileEdit.js}"></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="profile-section">
        <form th:action="@{/dashboard/editProfileImage}" method="post" enctype="multipart/form-data">
            <img th:src="${#authentication.principal.profileImage != null ? '/kkirikkiri/upload/' + #authentication.principal.profileImage : '/kkirikkiri/upload/default.png'}"
                 alt="프로필 이미지" class="mypage-profile-img" id="profileEditImg" />

            <p th:text="${#authentication.principal.name}" class="profile-nickname"></p>

            <input type="file" id="profileImageInput" name="profileImage" accept="image/*" style="display:none;">
            <div class="button-container" style="margin-top: 20px;">
                <button type="button" id="editProfileButton">
                    <img th:src="@{/images/camera.png}" alt="사진 수정" />
                </button>
            </div>

            <div class="button-container" style="margin-top: 10px;">
                <button type="submit" class="save-button">프로필 변경</button>
            </div>
        </form>
    </div>

    <div class="home-icon-container">
        <a th:href="@{/dashboard/mypage}">
            <img th:src="@{/images/house.png}" alt="홈 버튼" class="home-icon"/>
        </a>
    </div>

    <div class="field-box-container">
        <div class="field-box">
            <form th:action="@{/dashboard/editNickname}" method="post">
                <div class="personal-info-section">
                    <h3 class="personal-info-title">개인 정보 수정</h3>
                    <div class="nickname-section">
                        <label for="nickname"></label>
                        <input type="text" id="nickname" name="nickname" placeholder="아무나 이 페이지 닉네임 변경" />
                    </div>
                    <div class="nickname-button-container">
                        <button type="submit" class="nickname-save-button">변경</button>
                    </div>
                </div>
            </form>

            <form th:action="@{/dashboard/editPhone}" method="post">
                <div class="phone-section">
                    <label for="phone"></label>
                    <input type="text" id="phone" name="phone" placeholder="css 수정하실분 넘 못생김 핸드폰 변경" />
                    <div class="phone-button-container">
                        <button type="submit" class="phone-save-button">변경</button>
                    </div>
                </div>
            </form>

            <form th:action="@{/dashboard/editPassword}" method="post">
                <div class="password-section">
                    <h4 class="password-title">비밀번호 변경</h4>
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="하다 포기함" /><br />
                    <label for="password2"></label>
                    <input type="password" id="password2" name="password2" placeholder="새 비밀번호 확인" />
                    <div class="password-button-container">
                        <button type="submit" class="password-save-button">변경</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <form th:action="@{/dashboard/editInterests}" method="post">
        <div class="field-box">
            <h3 class="interest-title">취향이 달라졌다면, 다시 설정해보세요!</h3>
            <div class="interests-container">
                <div class="interests-row">
                    <div class="interest-option">
                        <input type="checkbox" id="hobby" name="interests" value="취미">
                        <label for="hobby" class="interest-text">취미</label>
                    </div>
                    <div class="interest-option">
                        <input type="checkbox" id="development" name="interests" value="자기계발">
                        <label for="development" class="interest-text">자기계발</label>
                    </div>
                    <div class="interest-option">
                        <input type="checkbox" id="food" name="interests" value="푸드">
                        <label for="food" class="interest-text">푸드</label>
                    </div>
                    <div class="interest-option">
                        <input type="checkbox" id="activity" name="interests" value="액티비티">
                        <label for="activity" class="interest-text">액티비티</label>
                    </div>
                    <div class="interest-option">
                        <input type="checkbox" id="love" name="interests" value="연애">
                        <label for="love" class="interest-text">연애</label>
                    </div>
                </div>
                <div class="interests-row">
                    <div class="interest-option">
                        <input type="checkbox" id="pets" name="interests" value="반려동물">
                        <label for="pets" class="interest-text">반려동물</label>
                    </div>
                    <div class="interest-option">
                        <input type="checkbox" id="culture" name="interests" value="문화">
                        <label for="culture" class="interest-text">문화</label>
                    </div>
                    <div class="interest-option">
                        <input type="checkbox" id="money" name="interests" value="재테크">
                        <label for="money" class="interest-text">재테크</label>
                    </div>
                    <div class="interest-option">
                        <input type="checkbox" id="game" name="interests" value="게임">
                        <label for="game" class="interest-text">게임</label>
                    </div>
                    <div class="interest-option">
                        <input type="checkbox" id="travel" name="interests" value="여행">
                        <label for="travel" class="interest-text">여행</label>
                    </div>
                </div>
            </div>
            <div class="interest-button-container">
                <button type="submit" class="interest-save-button">수정</button>
            </div>
        </div>
    </form>

    <form th:action="@{/dashboard/editLocation}" method="post">
        <div class="field-box">
            <h3 class="location-title">새로운 곳에서 활동하고 싶다면, 위치를 변경해보세요!</h3>
            <div class="location-section">
                <input type="text" id="location" name="location" placeholder="관심 지역 입력">
            </div>
            <div class="location-button-container">
                <button type="submit" class="location-save-button">수정</button>
            </div>
        </div>
    </form>

</body>
</html>
