<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로필 수정</title>
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"> 
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <script src="/kkirikkiri/js/jquery-3.7.1.min.js"></script>
</head>
<body>
 
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="mypage-container">
        <nav class="mypage-nav">
            <ul>
                <li><a th:classappend="${activePage == 'home'} ? 'active'" th:href="@{/dashboard/mypage}" id="home">홈</a></li>
                <li><a th:classappend="${activePage == 'profile-edit'} ? 'active'" th:href="@{/dashboard/profileedit}" id="profile-edit">프로필 수정</a></li>
                <li><a th:classappend="${activePage == 'group-management'} ? 'active'" th:href="@{/dashboard/groupManagement}" id="group-management">그룹 관리</a></li>
                <li><a th:classappend="${activePage == 'payment-management'} ? 'active'" th:href="@{/dashboard/paymentManagement}" id="payment-management">결제 관리</a></li>
            </ul>

            <th:block sec:authorize="isAuthenticated()">
                <div class="profile-section">
                    <img th:src="${#authentication.principal.profileImage != null ? '/kkirikkiri/upload/' + #authentication.principal.profileImage : '/kkirikkiri/upload/default.png'}"
                         alt="프로필 이미지" class="mypage-profile-img" id="profileImg" />
                </div>
            </th:block>

            <div class="horizontal-line"></div>
        </nav>
    </div>
</body>
</html>